@page
@model WebShopProject.Pages.Shared.ShopModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device.width" />
    <title>Index</title>

</head>
<body>

    <h3>Product List</h3>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Namn</th>
            <th>Bild</th>
            <th>Pris</th>
            <th>Köp</th>
        </tr>
        @foreach (var item in Model.Products)
        {

            <tr align="center">
                <td>@item.ID</td>
                <td>
                    <a asp-page="Details" asp-route-productid="@item.ID">@item.Name </a>
                </td>
                <td><img src="~/images/@item.Image" width="250" height="250" /></td>
                <td>
                    @item.Cost
                    <img src="~/images/Silver_Coin.png" />
                </td>
                <td>
                    <div class="ui inverted segment">
                        <!---   <button class="btn btn-success" asp-page="Shop" asp-route-cartid="@item.ID">Köp</button> --->
                    </div>
                <a asp-page="Shop" asp-route-cartid="@item.ID">Köp</a>
</td>
            </tr>
        }

    </table>

</body>

<body>

    <h3>Shopping Cart</h3>
    <table border="1">
        <tr>
            <th>ID</th>
        </tr>
        @foreach (var item in Model.ShoppingCart)
        {

            <tr align="center">
                <td>ID</td>
                <td>@item.ID</td>
            </tr>
        }

    </table>
    </div>
    <h4 class="ui dividing header">Billing Information</h4>
    <div class="field">
        <label>Card Type</label>
        <div class="ui selection dropdown">
            <input type="hidden" name="card[type]">
            <div class="default text">Type</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item" data-value="visa">
                    <i class="visa icon"></i>
                    Visa
                </div>
                <div class="item" data-value="amex">
                    <i class="amex icon"></i>
                    American Express
                </div>
                <div class="item" data-value="discover">
                    <i class="discover icon"></i>



















</body>
</html>

