@page
@model WebShopProject.Pages.Shared.ShopModel
@{
}

<!DOCTYPE html>
<html>
<!---Search Box -->

<h1>@Model.SearchString</h1>
<form method="post">
    <input type="text" id="q" asp-for="@Model.SearchString" placeholder="Hitta Produkt" />
</form>



<!---Search Box -->
<body>

    <h3>Product List</h3>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Namn</th>
            <th>Bild</th>
            <th>Pris</th>
            <th>Köp</th>
        </tr>
        @foreach (var item in Model.Products)
        {

            <tr align="center">
                <td>
                <p style="color:green">@item.ID<p/>
                </td>
                <td>
                    <a asp-page="Details" asp-route-productid="@item.ID"><strong>@item.Name</strong> </a>
                </td>
                <td><img src="~/images/@item.Image" width="250" height="250" /></td>
                <td>
                    @item.Cost
                    <img src="~/images/Silver_Coin.png" />
                </td>
                <td>
     
                    <a asp-page="Shop" asp-route-cartid="@item.ID"><button>Köp</button></a>
                </td>
            </tr>
        }

    </table>

</body>

</html>

